{% extends "inc/base.html" %}
{% load static %}
{% block title %}
        <h2>Log In</h2>
{% endblock title %}



{% block content %}
    <div class="col-md-7">
        <form>
          <div class="form-group row top-buffer">
            <label for="questionTitle" class="col-sm-3 col-form-label">Title</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control" id="questionTitle" placeholder="How to make an omlette?">
            </div>
          </div>
            <div class="form-group row top-buffer">
              <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Text</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Last time i tried frying egg my kitchen burned down."></textarea>
              </div>
            </div>
          <div class="form-group row top-buffer">
            <label for="tags" class="col-sm-3 col-form-label">Tags</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control" id="tags" placeholder="food omlette kitchen">
            </div>
          </div>
          <div class="form-group row top-buffer">
            <label for="tags" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-8">
              <button type="button" class="btn btn-primary">Ask</button>
            </div>
          </div>
        </form>
      </div>
{% endblock content %}


{% block tags %}
    <h2>Tags</h2>
    <a>Tag Kek Park Math Physics Charlie Moist Water Food Workout GitHub</a>
{% endblock tags %}

{% block members %}
    <h2>Best Members</h2>
    <a class="link-secondary">Me</a>
    <a class="link-secondary">My mom</a>
    <a class="link-secondary">Notch</a>
    <a class="link-secondary">Nerisuyu</a>
{% endblock members %}