{% extends "inc/base.html" %}
{% load static %}

{% block title %}
    <h2> New Questions</h2>
    <a href=" {%url "hot"   %}">Hot questions</a>
{% endblock title %}


{% block content %}
    {% for question in questions %}
        {% include "inc/question.html" %}
    {% endfor %}
{% endblock content %}

{% block tags %}
    <h2>Tags</h2>
    <a>Tag Kek Park Math Physics Charlie Moist Water Food Workout GitHub</a>
{% endblock tags %}

{% block members %}
    <h2>Best Members</h2>
    <a class="link-secondary">Me</a>
    <a class="link-secondary">My mom</a>
    <a class="link-secondary">Notch</a>
    <a class="link-secondary">Nerisuyu</a>
{% endblock members %}


{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a  href="?page={{ questions.next_page_number }}">next</a>
            <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}